<footer class="text-center text-lg-start bg-light text-muted footer mt-5">
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Prabah Prasad Kalita
            </h6>
            <p>
              This is my version of YelpCamp, the megaproject of the very famous Colt Steele Web Developer BootCamp. This is a modified version of the actual project, fixing some things and adding some features missing in the original.
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Resources
            </h6>
            <p>
              <a target="_blank" href="https://www.mapbox.com/" class="text-reset">Mapbox</a>
            </p>
            <p>
              <a target="_blank" href="http://www.passportjs.org/" class="text-reset">Passport</a>
            </p>
            <p>
              <a target="_blank" href="https://helmetjs.github.io/" class="text-reset">Helmet</a>
            </p>
            <p>
              <a target="_blank" href="https://getbootstrap.com/" class="text-reset">Bootstrap</a>
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="/aboutSite" class="text-reset">About Site</a>
            </p>
            <p>
              <a target="_blank" href="https://github.com/prabah101/YelpCamp" class="text-reset">Source Code</a>
            </p>
            <p>
              <a target="_blank" href="https://www.youtube.com/channel/UCrqAGUPPMOdo0jfQ6grikZw" class="text-reset">Colt Steele</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Contact Me
            </h6>
            <p>&#x2709; ppkalita007@gmail.com
            </p>
            </p>
          </div>
        </div>
      </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="https://github.com/prabah101">Prabah Prasad Kalita</a>
    </div>
  </footer>